<div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <span>Danh sách nhân viên: </span>
          <!-- <select [(ngModel)]="customerTypeId" (change)="loadCustomer()">
                      <option value="0"> --- All ---</option>
                      <option *ngFor="let aCUT of customerTypes" value="{{aCUT.id}}">
                          {{aCUT.name}}
                      </option>
                  </select> -->
        </div>
        <div class="col-auto">
          <button type="button" (click)="openAdd()" class="btn btn-primary"><i class="fa fa-plus"></i>
            Add</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Họ Tên</th>
              <th scope="col">Email</th>
              <th scope="col">Số điện thoại</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let e of employees">
              <td>{{e.firtName}} {{e.lastName}}</td>
              <td>{{e.email}}</td>
              <td>{{e.phone_number}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
